// BACKGROUND COLOR
$bg-header-fixed: #21333E;
$bg-main-lightgreen: #EEF4ED;
$bg-dark:#111117;

// MAIN COLOR
$primary-font-white:#F9F9F9;
$secondary-font-grey: #838FA1;
$light-acqua: #1BABAB;
$dark-acqua: #058283;
